<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671644513468-p9skf0nj3443f3u18q679obinndd6895.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671644513468-p9skf0nj3443f3u18q679obinndd6895</string>
	<key>API_KEY</key>
	<string>AIzaSyDchx901xcIdlovVhz0uMWyub3mDLEuJdo</string>
	<key>GCM_SENDER_ID</key>
	<string>671644513468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wequiz.ios.Authentication</string>
	<key>PROJECT_ID</key>
	<string>sololife-3192c</string>
	<key>STORAGE_BUCKET</key>
	<string>sololife-3192c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671644513468:ios:076442279d6c5a5f6eccb9</string>
	<key>DATABASE_URL</key>
	<string>https://sololife-3192c-default-rtdb.firebaseio.com</string>
</dict>
</plist>