<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>79100849862-id1i0c0p3dqfr1a1pptvhom6dltdme1c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79100849862-id1i0c0p3dqfr1a1pptvhom6dltdme1c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>79100849862-58vff5lirc0f3hvk7fkfa5p9jd5hfo53.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBpqfNCKyTL52UAXtUArPvyB9ecJOSZzhk</string>
	<key>GCM_SENDER_ID</key>
	<string>79100849862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wequiz.ios.Main</string>
	<key>PROJECT_ID</key>
	<string>wequiz-3910f</string>
	<key>STORAGE_BUCKET</key>
	<string>wequiz-3910f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79100849862:ios:1bec6d020e0a81c2d071c7</string>
</dict>
</plist>